################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XCommas.Net/XCommas.Net/obj
/XCommas.Net/XCommas.Net/bin
/XCommas.Net/.vs/XCommas.Net/v15
/XCommas.Net/.vs/XCommas.Net/v16
